<!--<#% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
  <script>
      let address = "<#%= "#{@user.country}, #{@user.city}, #{@user.adress}" %>";
      document.addEventListener("DOMContentLoaded", function(){
          initMap(address)
      });
  </script>
<#% end %>
-->
<p id="notice"><%= notice %></p>
<% if can? :update, @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
  <%end %>
<%= link_to 'Back', users_path %>

<p>
  <strong>Role:</strong>
  <%= @user.role.name %>
</p>
<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>
<!--
<p>
  <strong>Adress:</strong>
  <%= @user.adress %>
</p>



<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Password confirm:</strong>
  <%= @user.password_confirm %>
</p>

<p>
  <strong>Map:</strong>
  <div id="map"></div>
</p>-->