<p id="notice"><%= notice %></p>
<h1>Advertisements</h1>
<p><%= form_tag advertisements_path, method: :get do %>
<%= text_field_tag 'term', params[:term], placeholder: "Enter user's name or surname" %>
<%= submit_tag 'Search!' %>
<% end %></p>
<p>
      <%if can? :create, Advertisement %>
    <%= link_to 'New Adv', new_advertisement_path %>
  <% end %>
</p>
<script> function f() {

    const cropElement = document.querySelectorAll('.text-160'), // выбор элементов
        size = 160                                             // кол-во символов
    endCharacter = '...';                                  // окончание

    cropElement.forEach(el => {
        let text = el.innerHTML;

        if (el.innerHTML.length > size) {
            text = text.substr(0, size);
            el.innerHTML = text + endCharacter;
        }
    });

};
</script>
<!--<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Text</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>-->
    <% @advertisements.each do |advertisement| %>
      <!--<tr>
        <td>-->
      <% @users.each do |u| %>
      <% if u.id == advertisement.user_id %>
        <h1>Post made by <%= u.login %></h1>
      <% end %>
      <% end %>
  <div>
    <p class="text-160" onload="f()">
    <% if advertisement.respond_to?(:pg_search_highlight) %>
      <%= advertisement.pg_search_highlight.html_safe %>
    <% else %>
      <%= advertisement.text %>
    <% end %>
    </p>
  </div>
    <p><%= image_tag(advertisement.image_url.to_s) %></p>
    <p><td><%= link_to 'Show', advertisement %></td>
    <td>
      <% if can? :update, advertisement %>
        <%= link_to 'Edit', edit_advertisement_path(advertisement) %>
      <% end %>
    </td>
    <td><% if can? :destroy, advertisement %>
        <%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td></p>

  <h3>First comment</h3>
  <p>
    <% advertisement.comments.each do |c| %>
      <strong>Commenter:</strong>
      <% user = User.find(c.user_id)%>
      <%= user.full_name %>
      </p>
      <p>
        <strong>Comment:</strong>
        <%= c.message %>
      </p>
      <% break %>
    <% end %>
<% end %>
<!--
  </tbody>
</table> -->


