<p id="notice"><%= notice %></p>

<h1>Advertisements</h1>
<p><%#todo this thing with can everywhere%>
      <%if can? :create, Advertisement %>
    <%= link_to 'New Adv', new_advertisement_path %>
  <% end %>
</p>

<!--<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Text</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>-->
    <% @advertisements.each do |advertisement| %>
      <!--<tr>
        <td>-->
      <% @users.each do |u| %>
      <% if u.id == advertisement.user_id %>
        <h1>Post made by <%= u.login %></h1>
      <% end %>
      <% end %>
    <p><%= advertisement.text %></p>
    <p><%= image_tag(advertisement.image_url.to_s) %></p>
    <p><td><%= link_to 'Show', advertisement %></td>
    <td>
      <% if can? :update, Advertisement %>
        <%= link_to 'Edit', edit_advertisement_path(advertisement) %>
      <% end %>
    </td>
    <td><% if can? :destroy, Advertisement %>
        <%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td></p>

  <h3>First comment</h3>
  <p>
    <% advertisement.comments.each do |c| %>
      <strong>Commenter:</strong>
      <% user = User.find(c.user_id)%>
      <%= user.full_name %>
      </p>
      <p>
        <strong>Comment:</strong>
        <%= c.message %>
      </p>
      <% break %>
    <% end %>
<% end %>
<!--
  </tbody>
</table> -->

