<!DOCTYPE html>
<html>
  <head>
    <title>Pinboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'EXIT not Gogl', destroy_user_session_path, method: :delete, data: { confirm: 'Do you want to exit?' } %>
  <% if user_signed_in? %>
    <%= link_to 'EXIT G', logout_path,  data: { confirm: 'Do you want to exit?' } %>
    <%= current_user.email %>
  <% else %>
    <a href="/auth/google_oauth2">Sign in with Google</a>
    <%= link_to 'Sign in with our acc', user_session_path %>
    <% end %>
    <p class="notice"><%#= notice %></p>
  <p class="alert"><%#= alert %></p>
  <%= yield %>
  </body>
</html>
