<!DOCTYPE html>
<html>
  <head>
    <title>Pinboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA6LI_hichjUjuNQFPQ-UAtRHVrpeA1aKw' %>
    <%= javascript_pack_tag 'places', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <header>
      <p class="reg">
        <% if user_signed_in? %>
          <%= link_to 'EXIT N', destroy_user_session_path, method: :delete, data: { confirm: 'Do you want to exit?' } %>
          | Current user : <%= current_user.email %> | You are <%= current_user_.role.name%>
        <% elsif user_signed_in_? %>
          <%= link_to 'EXIT GOGL', logout_path,  data: { confirm: 'Do you want to exit?' } %>
          | Current user: <%= current_user_.email %> | You are <%= current_user_.role.name %>
        <% else %>
          <%= link_to 'Sign up', sign_up_path %> |
          <a href="/auth/google_oauth2">Sign in with Google</a> |
          <%= link_to 'Sign in with your account', user_session_path %>
        <% end %>
      </p>
      <p class="menu">
        <%= link_to 'See all users', users_path %> |
        <%= link_to 'See all advertisements', advertisements_path %>
        <% if current_user_&.admin? %> |
          <%= link_to "Roles", roles_path %>
        <% end %>
      </p>
    </header>
    <div class="body">
      <h1 class="field_with_errors"><% flash.each do |name, msg| %>
          <% if name.to_s == 'alert' %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        <% end %>
      </h1>

    <%= yield %>
    </div>
  </body>
</html>
